@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    display: grid;
    /* place-items: center; */
    align-content: center;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

:root {
    --transition: all .25s ease-in-out;
    --primary: #08417d;
    --dark-faded: rgba(100, 100, 100, .4);
    --white-faded: rgba(255, 255, 255, .5);
}

.gallery__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    max-width: 50px;
    max-height: 50%;
}

.gallery__loading img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.container {
    position: relative;
    min-height: 100vh;
    /* max-width: 1000px; */
    background-color: #a1c3d1;
    width: 100%;
    margin: 0 auto;    
    padding: 40px 20px;
}

.container h1 {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    color: #f0ebf4;
    text-transform: uppercase;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.container .search-panel {
    position: relative;
    height: 42px;
    max-width: 400px;
    width: 100%;    
}

.search-panel input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #B29BC7;
    padding: 0 15px 0 45px;
    color: #f0ebf4;    
    border-radius: 6px;
}

::placeholder {
    color: #f0ebf4;
}

.search-panel i {
    position: absolute;
    color: #f0ebf4;
    z-index: 2;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
}

.search-box button,
.back-to-gallery,
.clear-button {
    height: 42px;
    min-width: 80px;
    width: fit-content;
    padding: 0 10px;
    background-color: #f172a1;
    color: #f0ebf4;
    border: none;
    border-radius: 6px;
    transition: all .4s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-box button:hover,
.back-to-gallery:hover,
.clear-button:hover {
    box-shadow: 0 15px 15px -12px rgb(2 62 83/67%);
    background-color: #e64398;
    color: #f0ebf4;
    transform: translateY(-2px);
}

.error {
    justify-content: center;
    color: #db8181;
}

#spinner {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

#spinner img {
    width: 10%;
}

.spinner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    width: 100px;
    height: 100px;
    border: 0px solid #011015;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(255, 0, 255);
    animation: rotate 2s linear infinite;
}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(0, 255, 13);
    animation: rotate3 2s linear infinite;
}

.loading {
    color: white;
    font-size: 10px;
}

@keyframes rotate {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;    
}

.gallery-item-box {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.gallery-item {
    position: relative;
    width: 210px;
    height: 300px;
    border-radius: 6px;
    /* overflow: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
}

.gallery-item.border {
    border: 6px solid #32a852;
}

.add-button {
    width: 80px;
    height: 50px;
    background-color: #32a852;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: 8px;
    transition: transform 0.2s linear;
}

.gallery-item:hover img{
    transform: scale(1.05);
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item h6 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.like {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 2%;
    right: 3%;
}

.like-no {
    background: url('images/dislike.svg') no-repeat;
}

.like-yes {
    background: url('images/like.svg') no-repeat;
}

.recycle-bin {
    width: 32px;
    height: 32px;
    top: 4%;
    right: 4%;
    padding: 3px;
    background: url('images/red-trash-can-icon.svg') center no-repeat;
    transition: 0.2s ease-in-out;
    z-index: 10;
    position: absolute;
}

/* .recycle-bin:hover {
transform: scale(1.1);
} */

.pagination-container {
    max-width: 480px;
    margin: 50px auto 0 auto;
}

.pagination-container button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.pagination-numbers .prev {
    margin-right: 10px;
}

.pagination-numbers .next {
    margin-left: 10px;
}

/* .pagination-container button:hover {
    background-color: #fff;
    transition: all 0.2s ease-in-out;
} */

.pagination-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transition: all .3s ease-in-out;
}

.pagination-numbers li {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    flex: 0 0 40px;
    color: #AD2E95;

    line-height: 40px;
    text-align: center;
}

.hidden {
    display: none;
}

.pagination-numbers li.numb {
    width: 40px;
    height: 40px;
}

.pagination-numbers li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination-numbers li.active {    
    color: #fff;
    background-color: #AD2E95;
}

.pagination-numbers li.numb.active:hover {
    background-color: #AD2E95;
}

.pagination-numbers li.numb:hover,
.pagination-numbers li.prev:hover,
.pagination-numbers li.next:hover {
    cursor: pointer;
    background-color: #fff;
}

.lightbox-enabled {
    width: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.lightbox-enabled:hover {
    opacity: .8;
    cursor: zoom-in;
    transform: scale(1.01);
}

.lightbox-container {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, .7);
    display: grid;
    place-items: center;
    padding: 1rem;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}

.lightbox-container.active {
    opacity: 1;
    pointer-events: all;
}

.lightbox-image-wrapper {
    display: grid;
    place-items: center;
    max-width: 90vw;
    max-height: 90vh;
    width: 100%;
    height: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 8px;
    box-shadow: 3px 3px 10px var(--dark-faded);
    cursor: zoom-out;
}

.lightbox-btn {
    background-color: var(--white-faded);
    display: grid;
    place-items: center;
    padding: .8rem 1rem .8rem 1rem;
    color: var(--primary);
    cursor: pointer;
    transition: var(--transition);
    position: absolute;
}

.lightbox-btn.inactive {
    opacity: 0;
    pointer-events: none;
}

.lightbox-btn:focus {
    outline: none;
}

.left {
    left: 5px;
}

.left:hover, .left:focus {
    left: 0px;
}

.right {
    right: 5px;
}

.right:hover, .right:focus {
    right: 0px;
}

/* .lightbox-image {
    width: 100%;
    object-fit: cover;
    cursor: zoom-out;
} */

#backToTop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 3%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    z-index: 99;
    cursor: pointer;
    background-color: #AD2E95;
    transition: all 0.3s ease-in-out;
}

#backToTop:hover {
    background-color: #fff;
    border: 1px solid #AD2E95;
    color: #AD2E95;
}


@media (max-width: 701px) {
    .search-box {
        flex-direction: column;
    }
    .search-box button {
        max-width: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .pagination-numbers li.btn {
        display: none;
    }
}